*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* navigation style */
.nave-titile{
    color: #181818;
    font-size: 45px;
    font-family: Open Sans ;
    font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.marry-s{
    color: #FD6E0A;
}
.btn-primery{
    height: 64px;
    padding: 18px 35px;
    color: #ffffff;
    font-weight: 700;
    background-color: #FD6E0A;
    border-radius: 5px;
    border:0;
}
/* banner styles */
.banner{
    margin: 0 150px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-size: 85px;
    font-family: Open Sans;
    font-weight: 700;
}
.banner-sub-title{
    font-size: 45px;
    font-family: Open Sans;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-description{
    color:#757575;
    font-size: 18px;
    font-family: Open Sans;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section style */
.about{
    padding: 130px 150px;
    border-radius: 10px;
    background: #FFF8F3;
}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-family: Open Sans;
    font-weight: 700;
}
.section-description{
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 30px;
    margin-bottom: 30px;
}
/* about-info-container */
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{

}
.info-title{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-family: Open Sans;
    line-height: 30px;
}
.info-description{
    color: #474747;
    text-align: center;
    font-size: 20px;
    font-family: Open Sans;
    line-height: 30px;
}
/* what i do */
.what-i-do{
    background: #FFF8F3;
}
.section-title{

}
.section-description{

}
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;

}
.skills img{
 margin:30px 0;
 
}
.skills-title{
    color: #181818;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: Open Sans;
    margin-bottom: 20px;
}
.skills-description{
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-family: Open Sans;
}
/* resume style */
.resume{
    
}
.section-title{

}
.resume-content-container{
    display: flex;
    gap: 24px;
    margin-top: 113px;
}
.resume-title{
    color: #474747;
    font-size: 30px;
    font-family: Open Sans;
    font-weight: 700;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-item .title{
    color:#474747;
    font-size: 25px;
    font-family: Open Sans;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item .sub-title{
    color:#757575;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume-item .descrioption{
    color:#757575;
    font-size: 16px;
    font-family: Open Sans;
    line-height: 28px;
}
/* resume button */
.resume-btn{
    margin-top: 50px;
    margin-bottom: 130px;
    text-align: center;
}